body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
}

p {
    padding: 0;
    margin: 0 auto 1.5em auto;
}

p.lead {
    font-style: italic;
}

img#coin{
    width: 2.5em; 
    height: 2.5em;
}

.texthud{
    font-size: 2em;
    display: inline;
}

div#menu{
    width: 100%;
    height: 100%;
    display: inline; 
    text-align:center;
    position: absolute;
}

table#upperHud{
    width: 100%;
    height: 10%;
    padding-top: 2%;
    padding-bottom: 5%;
    color: white;
}

div#gameover{
    color:white;
}

button#gameover{
    font-size: 4em;
    width: 40%;
}

div#game{
    display: none;
    color: white;
}

td#cellMoney{
    width: 50%;
    height: 7%;
}

td#cellHealth{
    width: 50%;
    height: 7%;
}

canvas#hpbar{
    border: 1px solid black;
    width: 95%;
    margin-right: 5%;
    height: 30%;
    border-radius: 2em;
}

div#game img#coin {
    float: left;

    /* Prevent a blue 'selection background' from appearing behind the coin
       when double tapping the map. */
    -moz-user-select: none;
    -webkit-user-select: none;
}

div#game p#money {
    float: left;

    /* Match the size of the coin icon. The image is 64px by 64px,
       but the actual coin is approximately 48px in height. */
}

div#game div#hudButtons {
    padding-top: 5%;
    clear: both;
}

div#instructions{
    display: none;
    font-size: 1.5em;
    color: white;
    margin-left: 10%;
}

div#highscore{
    display: none;
    font-size: 1.5em;
    color: white;
}

div#gameover{
    display: none;
}

div#menu ul{
    display: inline;
    list-style-type: none; 
    display: inline-block; 
    padding: 0;
    width: 100%;
}

div#menu li{
    margin-bottom: 2%;
}

div#menu button{
    width: 60%; 
    font-size: 2.5em;
    border-radius: 3em;
}

img#logo{
    padding-top: 20%;
    padding-bottom: 10%;
    display: block; 
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
