body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

canvas.screen {
	margin: 0;
    padding: 0;
}

canvas.hud {
	margin: 0;
    padding: 0;
    position:relative;
    top:-4px;
}

div#game{
    display: none;
}

ul#menu{
    list-style-type: none; 
    display: inline-block; 
    padding: 0;
}
li#menu{
    padding-bottom: 5%;
}
button#menu{
    width: 60%; 
    height: 60%; 
    border-radius: 30%;
}

div#menu{
    visibility: visible;
    background-color: black;  
    text-align:center;
    width: 100%;
    height: 100%;
}

img#logo{
    display: block; 
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
